<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <Configuration>Personal</Configuration>
    <Platform>Any CPU</Platform>
    <PublishDir>..\..\Personal\Vitaru\Server</PublishDir>
    <PublishProtocol>FileSystem</PublishProtocol>
    <TargetFramework>net6.0</TargetFramework>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <DeleteExistingFiles>true</DeleteExistingFiles>
    <PublishTrimmed>true</PublishTrimmed>
    <PublishReadyToRun>true</PublishReadyToRun>
    <PublishReadyToRunComposite>true</PublishReadyToRunComposite>
    <PublishReadyToRunShowWarnings>true</PublishReadyToRunShowWarnings>
    <PublishSingleFile>true</PublishSingleFile>
    <IncludeAllContentForSelfExtract>false</IncludeAllContentForSelfExtract>
	<IncludeNativeLibrariesForSelfExtract>false</IncludeNativeLibrariesForSelfExtract>
  </PropertyGroup>
</Project>