<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <Configuration>Public</Configuration>
    <Platform>Any CPU</Platform>
    <PublishDir>..\..\Public\Server</PublishDir>
    <PublishProtocol>FileSystem</PublishProtocol>
    <TargetFramework>net6.0</TargetFramework>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
	  <SelfContained>true</SelfContained>
    <DeleteExistingFiles>true</DeleteExistingFiles>
    <PublishTrimmed>true</PublishTrimmed>
    <PublishReadyToRun>true</PublishReadyToRun>
    <PublishReadyToRunShowWarnings>true</PublishReadyToRunShowWarnings>
    <!-- Sometimes this breaks stuff right now... -->
    <PublishSingleFile>true</PublishSingleFile>
  </PropertyGroup>
</Project>