<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <Configuration>Public</Configuration>
    <Platform>Any CPU</Platform>
    <PublishDir>..\..\Public\Vitaru</PublishDir>
    <PublishProtocol>FileSystem</PublishProtocol>
    <TargetFramework>net6.0-windows</TargetFramework>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <DeleteExistingFiles>true</DeleteExistingFiles>
    <!-- These break stuff right now... -->
    <PublishReadyToRun>false</PublishReadyToRun>
    <PublishReadyToRunShowWarnings>false</PublishReadyToRunShowWarnings>
    <PublishTrimmed>false</PublishTrimmed>
	  <PublishSingleFile>false</PublishSingleFile>
  </PropertyGroup>
</Project>